<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="" />
    <title>Sample</title>
    <!-- CSS -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    {% endblock  %}


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a id="btnPrepare" href="#/" class="btn btn-default btn-block" ng-class="colorP">Préparer</a>
            </div>
            <div class="col-xs-6">
                <a id="btnTravel" href="#/travel" class="btn btn-default btn-block" ng-class="colorV">Voyager</a>
            </div>
        </div>
        <ng-view></ng-view>
    </div>

</body>
</html>

<!-- AngularJS -->

    <script src="{{ asset ('bundles/ouikend/js/libs/angular.min.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/libs/angular-route.min.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/controllers/preparCtrl.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/controllers/travelCtrl.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/services/activityService.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/services/friendService.js') }}"></script>
    <script src="{{ asset ('bundles/ouikend/js/services/travelService.js') }}"></script>

    <script type="text/javascript">
        function config($routeProvider) {
            $routeProvider
                    .when('/', {
                        templateUrl:"{{ asset('bundles/ouikend/js/views/prepar.html') }} ",
                        controller: 'preparCtrl'
                    })
                    .when('/travel', {
                        templateUrl:"{{ asset( 'bundles/ouikend/js/views/travel.html')}}",
                        controller: 'travelCtrl'
                    })
                    .otherwise({
                        redirectTo: '/'
                    });
        }

        function run($rootScope, $location) {
            var path = function() {
                return $location.path();
            };
            $rootScope.$watch(path, function(newVal, oldVal) {
                $rootScope.activetab = newVal;
            });
        }
        angular.module('app', ['ngRoute'])
                .config(config)
                .controller('preparCtrl', preparCtrl)
                .controller('travelCtrl', travelCtrl)
                .service('activityService', activityService)
                .service('friendService', friendService)
                .service('travelService', travelService)
                /*.factory('', )*/
                .run(run);
    </script>
